<!DOCTYPE html>
<html>
<head>
  <title>Welcome Page</title>
  <link rel="stylesheet" type="text/css" href="style_sheets/welcome.css">
</head>
<body>
  <h1>Welcome!</h1>
  <a href="/admin">Admin Login</a> <br>
  <a href="/user-login">User Login</a> <br>
  <a href="/eventslist">View Events</a> <br>
  <a href="/enterdetails">Interested ?</a> 
</body>
</html>
